@charset "UTF-8";

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }
  
  .logo {
    font-size: 24px;
  }
  
  /*------------------------------
  
    ここから下がハンバーガーメニュー
    に関するCSS
  
  ------------------------------*/
    
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }
  
  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }

.header {
  width: 100vw;
  height: 5000;
}

body {
  background-image: url(back33.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.head h1 img {
  margin-left: 360px;
  margin-top: 120px;
}

.head h2 img {
  margin-left: 500px;
  margin-top: 100px;
}

.logo h2 img {
    margin-top: 150px;
    margin-left: 600px;
}

.kami h2 img {
    margin-top: 150px;
    margin-left: 320px;
}

.kamideza h3 img {
    margin-top: 50px;
    margin-left: 470px;
}

.kamideza p img {
    margin-left: 1250px;
}

.meisi h2 img {
    margin-top: 180px;
    margin-left: 320px;
}

.meisideza h3 img {
    margin-top: 50px;
    margin-left: 470px;
}

.meisideza h4 img {
    margin-left: 1250px;
    margin-bottom: 200px;
}

footer p small {
    margin-top: 90px;
    margin-left: 780px;
    color: #716965;
}
