@charset "UTF-8";

.header {
    width: 100vw;
    height: 4524;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: #fff;
  }
  
  .logo {
    font-size: 24px;
  }
  
  /*------------------------------
  
    ここから下がハンバーガーメニュー
    に関するCSS
  
  ------------------------------*/
    
  /* チェックボックスは非表示に */
  .drawer-hidden {
    display: none;
  }
  
  /* ハンバーガーアイコンの設置スペース */
  .drawer-open {
    display: flex;
    height: 60px;
    width: 120px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;/* 重なり順を一番上に */
    cursor: pointer;
  }
  
  /* ハンバーガーメニューのアイコン */
  .drawer-open span,
  .drawer-open span:before,
  .drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: #333;
    transition: 0.5s;
    position: absolute;
  }
  
  /* 三本線のうち一番上の棒の位置調整 */
  .drawer-open span:before {
    bottom: 8px;
  }
  
  /* 三本線のうち一番下の棒の位置調整 */
  .drawer-open span:after {
    top: 8px;
  }
  
  /* アイコンがクリックされたら真ん中の線を透明にする */
  #drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
  }
  
  /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
  #drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
  }
  
  #drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
  }
    
  /* メニューのデザイン*/
  .drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: .5s;
  }
  
  /* アイコンがクリックされたらメニューを表示 */
  #drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
  }


body {
  background-image: url(backimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.title h1 img {
  margin-left: 305px;
  margin-top: 440px;
}

.title h2 img {
  margin-left: 860px;
}

.Works h2 img {
  margin-left: 723px;
  margin-top: 400px;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.pake h1 img {
  margin-left: 250px;
  margin-right: 80px;
  margin-bottom: 30px;
}

.logo h3 img {
  margin-left: 250px;
  margin-right: 80px;
  margin-bottom: 30px;
}

.About h2 img {
  margin-top: 250px;
  margin-left: 745px;
}

.my h3 img {
  margin-top: 300px;
  margin-left: 220px;
}

.pro h4 img {
  margin-top: -760px;
  margin-left: 750px;
}

footer {
  background-color: #716965;  
  width: 100%;
  height: 390px;
  margin-top: 200px;
}

.footer h1 img {
  margin-top: 80px;
  margin-left: 740px;
}

.footer h2 img {
  margin-left: 720px;
}
